<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Nova Conta</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Nome</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nome do Banco"
                  name="name"
                  id="name"
                  [(ngModel)]="account.name"
                />
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Tipo</label>
                <select
                  [(ngModel)]="account.type"
                  class="form-control"
                  name="select"
                  id="select"
                >
                  <option value="Corrente">Corrente</option>
                  <option value="Poupanca">Poupanca</option>
                  <option value="Investimento">Investimento</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button
                type="button"
                (click)="submit()"
                class="btn btn-primary btn-round"
              >
                Cadastrar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
