<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10">
            <h5 class="card-title">Nova Movimentacao</h5>
          </div>
          <div class="col-md-2">
            <button
              routerLink="/account"
              class="btn btn-primary"
              style="float: right"
            >
              Voltar
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Nome</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nome do Banco"
                  name="name"
                  id="name"
                />
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Tipo</label>
                <select class="form-control" name="select" id="select">
                  <option *ngFor="let obj of types" value="{{ obj.value }}">
                    {{ obj.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Valor</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Valor"
                  name="name"
                  [(ngModel)]="value"
                  (change)="transform(value, 'R$')"
                  id="name"
                />
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Conta</label>
                <select class="form-control" name="select" id="select">
                  <option *ngFor="let obj of contas" value="{{ obj.id }}">
                    {{ obj.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="button" class="btn btn-primary btn-round">
                Cadastrar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
